.text-lighter {
    color: #ccc;
}

.let-spacing {
    letter-spacing: 0.3rem;
}

.btn-nav {
    border: 1px solid #fff;
    border-radius: 0 !important;
}

.btn-nav:hover {
    color: #fff;
    border: 1px solid #fff;
}

.nav-link:hover {
    color: #fff;
}

.header {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
                url("./images/big_image_1.jpg");
    background-size: cover;
    background-position: center;
}

.btn-primary {
    background-color: #B99365;
    border: 1px solid #B99365;
    border-radius: 0;
    padding: 12px 30px;
}

.btn-primary:hover {
    border: 1px solid rgba(185, 147, 101, 0.6);
    background-color: rgba(185, 147, 101, 0.6);
}

.head-content {
    height: 91.75vh;
}

.fs-bigger {
    font-size: 4rem;
}

.fs-small {
    font-size: 0.85rem;
}

.fs-big {
    font-size: 3rem;
}

.fs-p-big {
    font-size: 2.3rem;
}

.fs-p-small {
    font-size: 1rem;
}

.container .box-1 {
    width: 400px;
}

.container .box-2 {
    width: 700px;
}

.text-grey {
    color: #948d8d;
}

.color {
    color: #B99365;
}

.bg-img {
    background-image: url("./images/img_5.jpg");
    height: 400px;
}

.btn-primary-2 {
    background-color: #fff;
    color: #B99365;
    border: 1px solid #B99365;
    border-radius: 0;
    padding: 12px 30px;
}

.btn-primary-2:hover {
    background-color: #B99365;
    color: #fff;
}

.hover-effect:hover {
    color: #B99365;
}

.foot-1, .foot-2, .foot-3 {
    width: 300px;
}

.cursor {
    cursor: pointer;
}

.card {
    width: 300px;
    border-radius: 0;
    border: none;
}

.card-img-top {
    border-radius: 0;
}

.bg-color {
    background-color: #f2f2f2;
}

.fa-arrow-right {
    right: 23px;
}

.foot-3 input {
    width: 95%;
}

@media only screen and (max-width: 990px)
{
    .navbar {
        background-color: black;
        opacity: 0.3;
    }

    .fs-bigger {
        font-size: 3rem;
    }

    .fs-small {
        font-size: 0.75rem;
    }
    
    .fs-big {
        font-size: 2rem;
    }

    .fs-p-big {
        font-size: 1.7rem;
    }
}

@media only screen and (max-width: 760px)
{
    .card {
        width: 450px;
    }
}

@media only screen and (max-width: 600px)
{
    .fs-bigger {
        font-size: 2.5rem;
    }

    .fs-small {
        font-size: 0.65rem;
    }
    
    .fs-big {
        font-size: 1.9rem;
    }

    .fs-p-big {
        font-size: 1.3rem;
    }

    .card {
        width: 400px;
    }
}

@media only screen and (max-width: 480px)
{
    .fs-bigger {
        font-size: 2.2rem;
    }

    .fs-small {
        font-size: 0.55rem;
    }
    
    .fs-big {
        font-size: 1.6rem;
    }

    .fs-p-big {
        font-size: 1.1rem;
    }

    .fs-p-small {
        font-size: 0.8rem;
    }
}